@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
:root{
  /*primary colors*/
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  height:100vh;
  display:grid;
  place-items:center;
  font-family: 'Manrope', sans-serif;
  background-color:var(--LightGrayishBlue);
}
#root{
  width:80%;
  max-width:800px;
  display:flex;
  border-radius:10px;
}